<a href="https://colab.research.google.com/github/seonmk12/seonmins_colab/blob/master/_notebooks/20210527_4%ED%8C%80_%EA%B9%80%EC%84%A0%EB%AF%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = input("첫번째 숫자를 입력하시오 : ")
b = input("두번째 숫자를 입력하시오 : ")
c = input("세번째 숫자를 입력하시오 : ")
d = input("네번째 숫자를 입력하시오 : ")
f = input("다섯번째 숫자를 입력하시오 : ")
s = []
s.append(int(a))
s.append(int(b))
s.append(int(c))
s.append(int(d))
s.append(int(f))
print('합계:',sum(s))
print('평균:',sum(s)/5)

In [ ]:
#사용자로부터 5개의 숫자를 받아 합계와 평균 구하기
num_list=[]   #빈 리스트 생성(리스트의 초기값)
for i in range(5): #i는 range의 하나씩 증가하는 값이 들어감 (5번 반복하는데만 i값을 사용)
    number =int(input('숫자:')) #숫자 5개를 입력받아(input을 5개 따로 받아도 해도 됨-반복적으로 처리하는 것이라 for 문을 사용) 리스트에 추가
    num_list.append(number) #input 받은 것을 리스트에 추가
if len(num_list) != 0:
    average = sum(num_list) / len(num_list) #리스트의 평균계산, len(num_list) ==> num_list의 원소가 총 몇개인지
else:
    average = 0
print(f' 합계: {sum(num_list)}, 평균:{average}') #합계, 평균 출력

숫자:1
숫자:2
숫자:3
숫자:4
숫자:5
 합계: 15, 평균:3.0

In [ ]:
#예제 2 주사위 빈도 계산하기 
#주사위를 10000번 던져서 나오는 값들의 빈도를 계산하는 프로그램을 작성해보자.
#즉, 1,2,3,4,5,6 이 몇번 나오는지 계산한다.
#난수 발생 함수와 리스트를 사용한다. 
import random
dice = [0,0,0,0,0,0] #리스트 초기화 --> 기술적으로 모든 변수나 리스트는 사용하기 전에 초기화 하는 것이 좋음.
for x in range(10000):#10000번 반복
    number = random.randint(1,6) #1~6랜덤숫자 발생(마지막 숫자 발생)
    if number == 1:
        dice[0]+=1 #+=제자리 연산 기호 
    elif number == 2: #elif '앞의 조건에 걸리지 않을 때는' 중첩 반복일때 사용. 
        dice[1]+=1
    elif number == 3: 
        dice[2]+=1
    elif number == 4:     #횟수 카운트 
        dice[3]+=1
    elif number == 5: 
        dice[4]+=1
    elif number == 6: 
        dice[5]+=1
print(dice)

[1686, 1631, 1624, 1689, 1702, 1668]

In [ ]:
import random # random 무작위 수를 발생시키는 모듈
for x in range(10):                            # 10번 반복

  test_num1 = random.randint(1,15)            # 1에서 15사이의 임의의 수를 test_num1에 넣는다
  if test_num1 > 10:                          #if 뒤에 조건을 작성하고 마지막에 콜론 :을 붙입니다
    print( test_num1 ,'은 10보다 큽니다')     #4칸 띄운 후 조건이 참일 때의 면령문을 작성
  elif test_num1 == 10:                       # elif 여러개의 조건이 있을때 사용하고  마지막에 콜론:을 붙인다 
     print( test_num1, '은 10과 같습니다')
  else :                                      # 앞의 조건식이 모두 맞지 않을때
    print( test_num1, '은 10보다 작습니다')

9 은 10보다 작습니다
6 은 10보다 작습니다
13 은 10보다 큽니다
12 은 10보다 큽니다
4 은 10보다 작습니다
6 은 10보다 작습니다
13 은 10보다 큽니다
1 은 10보다 작습니다
1 은 10보다 작습니다
14 은 10보다 큽니다

In [ ]:
import random 
dice=[0,0,0,0,0,0]
for i in range(10000):
    number= random.randint(1,6)
    dice[number-1]+=1
print(dice)

[1697, 1623, 1672, 1695, 1665, 1648]

In [ ]:
import random
x=[]
for i in range(10000):
    a=random.randint(1, 6)
    x.append(a)
print(x.count(1),
      x.count(2),
      x.count(3),
      x.count(4),
      x.count(5),
      x.count(6))

1668 1673 1636 1721 1692 1610

In [ ]:
#예제 3 과목별 점수의 평균 구하기 
s=[[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91],[82,66,88],[83,86,79],[85,90,83]]
k = []
e = []
m =[]
for score in s:  # s 리스트를 사용(반복의 범위를), list 길이 만큼 반복, # 1번 반복할 때 s의 요소[96,84,80] 저장 따라서 [0]번이 추가 될때 앞에 96이 출력됨 두번째 반복은 [96,86,76]이 저장되니까 앞에 96이 추가됨 즉 각각 요소의 0번이 각각 저장됨.
    k.append(score[0])# for score in s(range가 아니라)는 s의 요소를 반복하는데 요소중의 인덱스 0번을 가져오고 다음 요소중의 인덱스 0번을 가져오는 반복
    e.append(score[1])
    m.append(score[2])
print(k)
print(e)
print(m)
ave1 =round(sum(k)/len(k),1)
ave2 =round(sum(e)/len(e),1)
ave3 =round(sum(m)/len(m),1)

print(f'국어평균: {ave1}, 영어평균: {ave2}, 수학평균: {ave3}')

[96, 96, 76, 89, 90, 82, 83, 85]
[84, 86, 95, 96, 76, 66, 86, 90]
[80, 76, 83, 69, 91, 88, 79, 83]
국어평균: 87.1, 영어평균: 84.9, 수학평균: 81.1

In [ ]:
#튜플(Tuple)
#튜플은 아래의 두 가지 점을 제외하곤 리스트와 거의 동일함 
#리스트는 []로 둘러싸지만 튜플은 ()로 둘러싼다.
#리스트는 값의 생성, 삭제, 수정이 가능하지만 튜플은 값을 바꿀 수 없다.
#튜플은 언제 사용할까?
#프로그램이 실행되는 동안 값이 바뀌면 안되는 경우 e.g. 주민번호, 전화번호, 날짜.
#튜플은 데이터 선언시 딱 제정이 되기 때문에 읽기도 빠르고, 정확하게 사용할 수 있다.

In [ ]:
#튜플 생성하기
#요소가 여러개인 튜플 생성하기
#튜플명 =(요소1, 요소2, ~~~) 괄호를 생략할 수 있다.
t1 = (1,2,3)
t1

(1, 2, 3)

In [ ]:
t1=1,2,3
t1

(1, 2, 3)

In [ ]:
#요소가 한 개인 튜플 생성하기 
#튜플명= (1,) 쉼표를 사용해야함. 아니면 그냥 변수로 사용됨. 
t1=1,
t1

(1,)

In [ ]:
#튜플 다루기
t1 = (1,5,3,4,2)   #리스트와 동일한 방법으로 튜플을 다룰 수 있다. ******다만 추가, 삽입,수정,원본리스트 정렬과 같이 데이터를 변경하는 것은 불가능
t2 = (6,7,8,9,8)
print(t1[1]) #인덱싱
print(t1[2:4]) #슬라이싱
print(t1+t2)   #더하기
print(t1*3)#곱하기
print(len(t1))#길이 구하기
print(t2.index(9))#요소의 위치 찾기
print(t2.count(8))#요소의 갯수
sort_t1 = sorted(t1)#정렬된 새로운 ''리스트'' 반환
print(sort_t1)

5
(3, 4)
(1, 5, 3, 4, 2, 6, 7, 8, 9, 8)
(1, 5, 3, 4, 2, 1, 5, 3, 4, 2, 1, 5, 3, 4, 2)
5
3
2
[1, 2, 3, 4, 5]

In [ ]:
#리스트의 합계 구하기
#다음 값들을 기억하는 리스트를 만들고 그 값들의 합계를 구하는 파이썬 프로그램을 작성하세요.
values = [56,12,33,8,3,2,98]
total = 0
for i in range(7): #for문 range
    total += values[i]
total

212

In [ ]:
values= [56,12,33,8,3,2,98]
total = 0
for i in values: #for문 리스트
        total += i
total

212

In [ ]:
values= [56,12,33,8,3,2,98]
total = sum(values)#그냥 리스트

212

In [ ]:
#딕션너리 
#dict_name={key0:value0,....}
menu= {'아메리카노':2000,'카페라떼':3000,'카푸치노':3500}
menu

{'아메리카노': 2000, '카페라떼': 3000, '카푸치노': 3500}

In [ ]:
#딕셔너리
#키:값이 쌍을 이루어 하나의 요소로 저장된다. 
#순서가 없다.
#인덱스가 아닌 키(key)로 제어한다. 따라서 키는 고유해야 하며 수정 불가능하다.
#dict_name={key0:value0-->이게 하나의 요소,....}

In [ ]:
#딕셔너리 예시
dicr_person = { 'name': '홍길동','phone':'010454564','age':35,'hobbies':['운동','독서']}
dicr_person

{'age': 35, 'hobbies': ['운동', '독서'], 'name': '홍길동', 'phone': '010454564'}

In [ ]:
dicr_phone = { '홍길동':'010454564','공유':'010123456','현빈':'01045465'}
dicr_phone

{'공유': '010123456', '현빈': '01045465', '홍길동': '010454564'}

In [ ]:
#키, 값
#가능한 자료형 키: 숫자, 물자열 튜플 변수   값: 모든 자료형, 변수
#변경가능여부 키:불가능 값:변경가능
#중복가능여부 키:불가능 값:중복 가능

In [ ]:
#딕셔너리 생성 
#키와 값은 콜론(:)욿 구분하며, 각 요소들은 콤마(,)로 구분한다 
#딕셔너리 전체는 중괄호{}로 기술 
dicr_score = { '홍길동':80,'공유':90,'현빈':100}
dicr_score

{'공유': 90, '현빈': 100, '홍길동': 80}

In [ ]:
dicr_score = { 
    '홍길동':80, #들여쓰기로 여러 줄에 기술할 수 있다. 보기 불편하니까
    '공유':90,
    '현빈':100}
dicr_score

{'공유': 90, '현빈': 100, '홍길동': 80}

In [ ]:
#딕셔너리 요소추가/삭제
#딕셔너리명[key] = value
dicr_score = {} 
dicr_score['홍길동'] =70 
dicr_score['공유'] =90 
dicr_score['현빈'] =100 
dicr_score

{'공유': 90, '현빈': 100, '홍길동': 70}

In [ ]:
#요소 삭제하기
#del 딕셔너리 명[key]
#홍길동 삭제하기
dicr_score = { 
    '홍길동':80, #들여쓰기로 여러 줄에 기술할 수 있다. 보기 불편하니까
    '공유':90,
    '현빈':100} 
del dicr_score['홍길동']
dicr_score

{'공유': 90, '현빈': 100}

In [ ]:
#pop 하나 요소 삭제
#딕셔너리명.pop(key)
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
score = dicr_score.pop('홍길동')
print(score)
print(dicr_score)

80
{'공유': 90, '현빈': 100}

In [ ]:
#딕셔너리명 clear --> 모든 요소 삭제
#딕셔너리명.clear()
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
dicr_score.clear()
dicr_score

{}

In [ ]:
#요소수정
#딕셔너리명[key]=value
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
dicr_score['홍길동'] = 90
dicr_score

{'공유': 90, '현빈': 100, '홍길동': 90}

In [ ]:
#요소추출
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
dicr_score['송중기']#없는건 오류

KeyError: ignored

In [ ]:
#요소추출
#딕셔너리명.get(key)
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
dicr_score.get('현빈')

100

In [ ]:
#송중기 점수 추출
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
print(dicr_score.get('송중기'))
print(dicr_score.get('송중기','없음')) #--> 없을 때 채워주는 값이 없음이라는 것임 none이라는게 싫다면 미리 설정해준 값으로 리턴

None
없음

In [ ]:
#딕셔너리 key가 존재하는지 확인
#key in 딕셔너리명
#송중기가 존재하는지 확인(false or true)
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
'송중기' in dicr_score

False

In [ ]:
#홍길동이 존재하는지 확인(false or true)
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
'홍길동' in dicr_score

True

In [ ]:
#모든 key만 얻기
#딕셔너리명.keys()
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
print(dicr_score.keys())# --> key를 객체로 반환
print(list(dicr_score.keys())) #--> 객체를 리스트로 변환하여 사용

dict_keys(['홍길동', '공유', '현빈'])
['홍길동', '공유', '현빈']

In [ ]:
#모든 value만 얻기
#딕셔너리명.values()
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
print(dicr_score.values())# --> value를 객체로 반환
print(list(dicr_score.values())) #--> 객체를 리스트로 변환하여 사용

dict_values([80, 90, 100])
[80, 90, 100]

In [ ]:
#모든 모든 key, value만 얻기
#딕셔너리명.items()
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
print(dicr_score.items())# --> 객체로 반환    *튜플형식으로 반환됨.
print(list(dicr_score.items())) #--> 객체를 리스트로 변환하여 사용

dict_items([('홍길동', 80), ('공유', 90), ('현빈', 100)])
[('홍길동', 80), ('공유', 90), ('현빈', 100)]

In [ ]:
#데이터 모두 출력하기
#_keys, values,items는 리스트로 변환하지 않더라도 기본적인 반복 구문을 실행할 수 있다.
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
for x in dicr_score.keys():
    print(x,dicr_score[x])

홍길동 80
공유 90
현빈 100

In [ ]:
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
for key,value in dicr_score.items():
    print(key,value)

홍길동 80
공유 90
현빈 100

In [ ]:
#데이터 정렬하여 모두 출력하기
#키(key)를 정렬하여 정렬된 키 순서대로 출력한다.
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}

#딕셔너리의 키를 정렬하여 리스트로 받음
sk = sorted(dicr_score.keys())
print(sk)

#정렬된 키 리스트 순서로 반복
for key in sk:
    print(key, sk[key])

['공유', '현빈', '홍길동']

TypeError: ignored

In [ ]:
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}

#딕셔너리의 키를 정렬하하여 튜플(키,값)으로 받음
sk = sorted(dicr_score.items()) ## 내림차순은 리버스로 
print(sk)

#정렬된 키 리스트 순서로 반복
for key,value in sk:
    print(key, value)

[('공유', 90), ('현빈', 100), ('홍길동', 80)]
공유 90
현빈 100
홍길동 80

In [ ]:
#요소개수 세기
#len(딕셔너리명)
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
print(len(dicr_score))

3

In [ ]:
#예제3 마일리지 관리 
#회사 쇼핑몰 고객의 아이디에 부여된 마일리지 포인트를 딕셔너리에 저장하여 관리하고자 한다. 
#아이디 : kim, lee,han,hong,hwamg
#마일리지: 12000,11000,3000,5000,18000
#1. 위의 표에 나타난 아이디와 마일이지 포인트를 딕셔너리에 저장한 다음 출력하는 프로그램을 작성하시오.#요소수정 #딕셔너리명[key]=value
#2. 아이디  han의 마일리지를 5000점으로 업데이트를 하시오. -->요소수정 #딕셔너리명[key]=value
#3. 아이디 jang의 마일리지 7000을 추가하시오 #딕셔너리명[key] = value
#4. 딕셔너리에서 가장 높은 마일리지를 찾아서 출려하는 프로그램을 작성하시오. max 사용

s = {'kim':12000,'lee':11000,'han':3000,'hong':5000,'hwang':18000}
print(s)
s['han']= 5000
print(s)
s[jang] = 7000
print(s)
print(f'최대 마일리지 : {max(s)}')

{'kim': 12000, 'lee': 11000, 'han': 3000, 'hong': 5000, 'hwang': 18000}
{'kim': 12000, 'lee': 11000, 'han': 5000, 'hong': 5000, 'hwang': 18000}

NameError: ignored

In [ ]:
dm = {}
dm['kim'] = 12000
dm['lee'] = 11000
dm['han'] = 3000
dm['hong'] = 5000
dm['hwang'] = 18000

for key, value in dm.items():
    print(key,value)

kim 12000
lee 11000
han 3000
hong 5000
hwang 18000

In [ ]:
dm = {}
dm['kim'] = 12000
dm['lee'] = 11000
dm['han'] = 3000
dm['hong'] = 5000
dm['hwang'] = 18000
dm['han'] = 5000
dm

{'han': 5000, 'hong': 5000, 'hwang': 18000, 'kim': 12000, 'lee': 11000}

In [ ]:
dm = {}
dm['kim'] = 12000
dm['lee'] = 11000
dm['han'] = 3000
dm['hong'] = 5000
dm['hwang'] = 18000
dm['han'] = 5000
dm['jang'] = 7000
dm

{'han': 5000,
 'hong': 5000,
 'hwang': 18000,
 'jang': 7000,
 'kim': 12000,
 'lee': 11000}

In [ ]:
mile = {'Kim':12000, 'Lee':11000, 'Han':3000, 'Hong':5000, 'Hwang':18000}
print(mile)
mile['Han'] = 5000
mile['Hong'] += 7000
print(mile)
v = list(mile.values())
print(max(v))

{'Kim': 12000, 'Lee': 11000, 'Han': 3000, 'Hong': 5000, 'Hwang': 18000}
{'Kim': 12000, 'Lee': 11000, 'Han': 5000, 'Hong': 12000, 'Hwang': 18000}
18000

In [ ]:
#예제 2 단어장 만들기 
#엔터(")를 입력할 때까지 영어단어- 뜻을 입력받아 단어장을 만들고, 
#입력이 끝나면 단어테스트를 실시하는 프로그램을 만들어 보자.
#리스트에 입력된 순서대로 테스트를 실시하고, 맞은개수를 계산한다. 테스트가 끝나면 맞은 점수를 출력한다. 
#출력형식  맞은갯수/전체단어수 : 6/8
dv = {}
while True: #트루 값이면 계속 반복하라는 뜻. 
    e = input('eng:')  #키값
    if e =='': 
        break #빈칸이면 멈춤. 
    k = input('kor:') #value값 
    dv[e] == k
dv

eng:11
kor:한글
eng:22
kor:한글
eng:

{'11': '한글', '22': '한글'}

In [ ]:
score = 0 #단어 테스트 
for e in dv.keys(): #key값을 가져오고 
    k = input(e+':') # input 받은 값을 가져옴 ':' 커서 깜박
    if k == dv[e] : #input 받은 값과 동일 한지 
        score+=1
print(f'맞은개수/전체단어수: {score}/{len(dv)}')

apple:사과
a:에이
b:비
c:디
맞은개수/전체단어수: 3/4

In [ ]:

dv = {}
while True: 
    e = input('영어단어를 입력하세요:')
    if e =='': 
        break 
    k = input('뜻을 쓰세요:')
    dv[e]=k
dv

영어단어를 입력하세요:apple
뜻을 쓰세요:사관
영어단어를 입력하세요:key
뜻을 쓰세요:열쇄
영어단어를 입력하세요:

{'apple': '사관', 'key': '열쇄'}