<a href="https://colab.research.google.com/github/seonmk12/seonmins_colab/blob/master/%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 1
print(n, type(n))
print(id(n))

1 <class 'int'>
94823992871424

In [ ]:
n = False
print(n)
print(type(n))
print(id(n))

False
<class 'bool'>
94823992197408

In [ ]:
n=[1,2,3]
print(n)
print(type(n))
print(id(n))

[1, 2, 3]
<class 'list'>
140681116838320

In [ ]:
a = "미래의 행복 보다는 '현재의 행복'이 중요하다."
print(a)

미래의 행복 보다는 '현재의 행복'이 중요하다.

In [ ]:
#부울형 --> 참, 거짓을 나타냄
a = 2>5
a

False

In [ ]:
#숫자열 계산 
a,b,c= 100,50,70
print(a+b+c)

220

In [ ]:
#문자열 계산 
a,b= '90', '80'
print(a+b)

9080

In [ ]:
#숫자열+문자열 --> error
a,b = 90, '80'
print(a+b)

TypeError: ignored

In [ ]:
a,b = 90, '80'
print(a+int(b))

170

In [ ]:
name = input('취미를 입력하세요 :')
print(name, '좋은 취미군요:)')

취미를 입력하세요 :축구
축구 좋은 취미군요:)

In [ ]:
print(1+2)

3

In [ ]:
print(1+int('2'))

3

In [ ]:
a = 3
print(a)
print(a+70)

3
73

In [ ]:
print('helle','everyone')
print('1 더하기 1은','귀요미')
a= '김선민'
print('나는',a,'입니다')

helle everyone
1 더하기 1은 귀요미
나는 김선민 입니다

In [ ]:
# f스트링 --> f'{변수} 
s = input('좋아하는 운동을 입력하시오. :')
print(f' {s} 은 내일 할 수 있습니다.')

좋아하는 운동을 입력하시오. :농구
 농구 은 내일 할 수 있습니다.

In [ ]:
print('두 수를 입력받아 더하는 프로그램 입니다.')
f = input('첫번째 숫자를 입력하시오 :')
s = input('두번째 숫자를 입력하시오 :')
print(int(f)+int(s))

두 수를 입력받아 더하는 프로그램 입니다.
첫번째 숫자를 입력하시오 :5
두번째 숫자를 입력하시오 :7
12

In [ ]:
x=99
y=3
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y) #몫
print(x%y) #나머지
print(+x)
print(-x) 
print(x**y)

102
96
297
33.0
33
0
99
-99
970299

In [ ]:
print('섭씨 변환기')
a = input('화씨온도:')
a = int(a)
print('섭씨온도:', (a-32)*5/9)

섭씨 변환기
화씨온도:100
섭씨온도: 37.77777777777778

In [ ]:
print('삼각형 넓이 구하기')
a = input('밑변 :')
b = input('높이 :')
a, b = int(a), int(b)
print('삼각형의 넓이:',a*b/2)

삼각형 넓이 구하기
밑변 :3
높이 :4
삼각형의 넓이: 6.0

In [ ]:
print('삼각형 넓이 구하기')
a = int(input('밑변 :'))
b = int(input('높이 :'))
print('삼각형의 넓이:',a*b/2)

삼각형 넓이 구하기
밑변 :1
높이 :5
삼각형의 넓이: 2.5

In [ ]:
x = 20
x += 50
print(x)
x = x + 12
print(x)

70
82

In [ ]:
a = input('경기장을 입력하시오 :')
b = input('이긴팀을 입력하시오 :')
c= input('진팀을 입력하시오 :')
d = input('VIP를 입력하시오 :')
f = input('스코어를 입력하시오 :')
print(f'''오늘 {a}에서 경기가 열렸습니다.
{b}와 {c}은 치열한 공방전을 펼쳤습니다.
{d}이(가) 맹활약을 펼쳤습니다.
결국 {a}이(가) {c}을(를) {f}로 이겼습니다.''')

경기장을 입력하시오 :올림픽경기장
이긴팀을 입력하시오 :한국
진팀을 입력하시오 :일본
VIP를 입력하시오 :손흥민
스코어를 입력하시오 :6:0
오늘 올림픽경기장에서 경기가 열렸습니다.
한국와 일본은 치열한 공방전을 펼쳤습니다.
손흥민이(가) 맹활약을 펼쳤습니다.
결국 올림픽경기장이(가) 일본을(를) 6:0로 이겼습니다.

In [ ]:
name = input('이름을 입력하세요:')
a = int(input('국어성적을 입력하세요:'))
b = int(input('영어성적을 입력하세요:'))
c = int(input('수학성적을 입력하세요:'))
print(f'평균성적은 {(a+b+c)/3} 입니다.')

이름을 입력하세요:김선민
국어성적을 입력하세요:90
영어성적을 입력하세요:100
수학성적을 입력하세요:50
평균성적은 80.0 입니다.

In [ ]:
list1=[]

for i in range(5):
    list1.append(int(input('숫자를 입력하시오 :')))
total = sum(list1)
if len(list1) != 0:
    average = sum(list1)/len(list1)
else:
    average = 0
print(f' 합계: {total}, 평균: {average}')

숫자를 입력하시오 :22
숫자를 입력하시오 :11
숫자를 입력하시오 :33
숫자를 입력하시오 :44
숫자를 입력하시오 :55
 합계: 165, 평균: 33.0

In [ ]:
#예제 2 주사위 빈도 계산하기 
#주사위를 10000번 던져서 나오는 값들의 빈도를 계산하는 프로그램을 작성해보자.
#즉, 1,2,3,4,5,6 이 몇번 나오는지 계산한다.
#난수 발생 함수와 리스트를 사용한다. 
import random
d = [0,0,0,0,0,0]
for x in range(9999):
    n = random.randint(1,6)
    if n == 1:
        d[0] += 1
    elif n ==2:
        d[1] += 1
    elif n ==3:
        d[2] += 1
    elif n ==4:
        d[3] += 1
    elif n ==5:
        d[4] += 1
    elif n ==6:
        d[5] += 1
print(d)

[1594, 1694, 1695, 1635, 1759, 1622]

In [ ]:
import random
for n in range(10):
    nn = random.randint(1,15)
    if nn > 10: 
        print(nn, '10보다 큽니다.')
    elif nn == 10: 
        print(nn, '10입니다.')
    else:
        print(nn, '10보다 작습니다')

15 10보다 큽니다.
7 10보다 작습니다
4 10보다 작습니다
11 10보다 큽니다.
10 10입니다.
14 10보다 큽니다.
5 10보다 작습니다
8 10보다 작습니다
15 10보다 큽니다.
6 10보다 작습니다

In [ ]:
s=[[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91],[82,66,88],[83,86,79],[85,90,83]]
k = []
e = []
m = []
for score in s: 
    k.append(score[0])
    e.append(score[1])
    m.append(score[2])
print(k)
print(e)
print(m)
aver1 = round(sum(k)/len(k),1)
aver2 = round(sum(e)/len(e),1)
aver3 = round(sum(m)/len(m),1)
print(f'국어평균: {aver1}, 영어평균: {aver2}, 수학평균: {aver3}')

[96, 96, 76, 89, 90, 82, 83, 85]
[84, 86, 95, 96, 76, 66, 86, 90]
[80, 76, 83, 69, 91, 88, 79, 83]
국어평균: 87.1, 영어평균: 84.9, 수학평균: 81.1

In [ ]:
#튜플 
#튜플은 ()로 둘러 싼다는 점, 값이 바뀌면 안되는 경우에 사용됨. 튜플은 데이터 선언시 딱 제정 되기 떄문에 읽기도 빠르고, 정확하게 사용할 수 있다. 
t1 = (1,2,3)
print(t1)

(1, 2, 3)

In [ ]:
t2 = 1,
t2

(1,)

In [ ]:
t1 = (1,5,3,4,2)   #리스트와 동일한 방법으로 튜플을 다룰 수 있다. ******다만 추가, 삽입,수정,원본리스트 정렬과 같이 데이터를 변경하는 것은 불가능
t2 = (6,7,8,9,8)
print(t1[1]) #인덱싱
print(t1[2:4]) #슬라이싱
print(t1+t2)   #더하기
print(t1*3)#곱하기
print(len(t1))#길이 구하기
print(t2.index(9))#요소의 위치 찾기
print(t2.count(8))#요소의 갯수
sort_t1 = sorted(t1)#정렬된 새로운 ''리스트'' 반환
print(sort_t1)

5
(3, 4)
(1, 5, 3, 4, 2, 6, 7, 8, 9, 8)
(1, 5, 3, 4, 2, 1, 5, 3, 4, 2, 1, 5, 3, 4, 2)
5
3
2
[1, 2, 3, 4, 5]

In [ ]:
values = [56,12,33,8,3,2,98]
total = sum(values)
print(total)

212

In [ ]:
values = [56,12,33,8,3,2,98]
total = 0
for i in range(7):
    total += values[i]
total

212

In [ ]:
values= [56,12,33,8,3,2,98]
total = 0
for i in values: #for문 리스트
        total += i
total

212

In [ ]:
dicr_person = { 'name': '홍길동','phone':'010454564','age':35,'hobbies':['운동','독서']}
dicr_person

{'age': 35, 'hobbies': ['운동', '독서'], 'name': '홍길동', 'phone': '010454564'}

In [ ]:
s = {
    '홍길동': 100,
     '수지': 900
}
s

{'수지': 900, '홍길동': 100}

In [ ]:
s = {}
s['아이유'] = 999
s['윈터'] = 700
s['슬기'] = 1000
s

{'슬기': 1000, '아이유': 999, '윈터': 700}

In [ ]:
s = {'아이유': 999, '윈터': 700, '슬기': 1000}
del s['윈터']
s

{'슬기': 1000, '아이유': 999}

In [ ]:
s = {'아이유': 999, '윈터': 700, '슬기': 1000}
w = s.pop('윈터')
print(w)
s

700

{'슬기': 1000, '아이유': 999}

In [ ]:
d_scores = {
    '홍길동':100,
    '아버지':200,
    '어머니':300 
 }
a = d_scores.pop('홍길동')
print(a)
d_scores

100

{'아버지': 200, '어머니': 300}

In [ ]:
#딕셔너리 모든요소 삭제 -  딕셔너리명.clear()
d_scores = {
    '홍길동':100,
    '아버지':200,
    '어머니':300 
 }
d_scores.clear()
d_scores

{}

In [ ]:
s = {'아이유': 999, '윈터': 700, '슬기': 1000}
s['아이유'] = 1200
s

{'슬기': 1000, '아이유': 1200, '윈터': 700}

In [ ]:
d_scores = {
    '홍길동':100,
    '아버지':200,
    '어머니':300 
 }
d_scores['어머니']

300

In [ ]:
d_scores = {
    '홍길동':100,
    '아버지':200,
    '어머니':300 
}
'어머니' in d_scores

True

In [ ]:
s = {'아이유': 999, '윈터': 700, '슬기': 1000}
'유진' in s

False

In [ ]:
d_scores = {
    '홍길동':100,
    '아버지':200,
    '어머니':300 
}
for key in d_scores.keys(): 
    print(lies(key, d_scores[key])

홍길동 100
아버지 200
어머니 300

In [ ]:
s = {'아이유': 999, '윈터': 700, '슬기': 1000}
print(s.keys())
print(list(s.keys()))

dict_keys(['아이유', '윈터', '슬기'])
['아이유', '윈터', '슬기']

In [ ]:
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
print(dicr_score.items())# --> 객체로 반환    *튜플형식으로 반환됨.
print(list(dicr_score.items())) #--> 객체를 리스트로 변환하여 사용

dict_items([('홍길동', 80), ('공유', 90), ('현빈', 100)])
[('홍길동', 80), ('공유', 90), ('현빈', 100)]

In [ ]:
#모든 value만 얻기
#딕셔너리명.values()
dicr_score = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
print(dicr_score.values())# --> value를 객체로 반환
print(list(dicr_score.values())) #--> 객체를 리스트로 변환하여 사용

dict_values([80, 90, 100])
[80, 90, 100]

In [ ]:
s = {'아이유': 999, '윈터': 700, '슬기': 1000}
print(s.values())
print(list(s.values()))

dict_values([999, 700, 1000])
[999, 700, 1000]

In [ ]:
s = {'아이유': 999, '윈터': 700, '슬기': 1000}
print(s.items())
print(list(s.items()))

dict_items([('아이유', 999), ('윈터', 700), ('슬기', 1000)])
[('아이유', 999), ('윈터', 700), ('슬기', 1000)]

In [ ]:
s = {'아이유': 999, '윈터': 700, '슬기': 1000}
for x in s.keys():
    print(x,s[x])

아이유 999
윈터 700
슬기 1000

In [ ]:
s = {'아이유': 999, '윈터': 700, '슬기': 1000}
for key,value in s.items():
    print(key,value)

아이유 999
윈터 700
슬기 1000

In [ ]:
d_scores = {
    '홍길동':100,
    '아버지':200,
    '어머니':300 
}
# key sort하여 리스트로 받음
s_keys = sorted(d_scores.keys())
print(s_keys)
# 정렬된 키 리스트 순서로 반복
for i in s_keys: 
    print(key, d_scores[i])

['아버지', '어머니', '홍길동']
슬기 200
슬기 300
슬기 100

In [ ]:
s = {'아이유': 999, '윈터': 700, '슬기': 1000}
so = sorted(s.keys())
print(so)
for i in so:
    print(key, so[i])

['슬기', '아이유', '윈터']

TypeError: ignored

In [ ]:
s = {'아이유': 999, '윈터': 700, '슬기': 1000}
ss = sorted(s.items())
print(ss)
for key, value in ss:
    print(key,value)

[('슬기', 1000), ('아이유', 999), ('윈터', 700)]
슬기 1000
아이유 999
윈터 700

In [ ]:
#회사 쇼핑몰 고객의 아이디에 부여된 마일리지 포인트를 딕셔너리에 저장하여 관리하고자 한다. 
#아이디 : kim, lee,han,hong,hwamg
#마일리지: 12000,11000,3000,5000,18000
#1. 위의 표에 나타난 아이디와 마일이지 포인트를 딕셔너리에 저장한 다음 출력하는 프로그램을 작성하시오.#요소수정 #딕셔너리명[key]=value
#2. 아이디  han의 마일리지를 5000점으로 업데이트를 하시오. -->요소수정 #딕셔너리명[key]=value
#3. 아이디 jang의 마일리지 7000을 추가하시오 #딕셔너리명[key] = value
#4. 딕셔너리에서 가장 높은 마일리지를 찾아서 출려하는 프로그램을 작성하시오. max 사용
s = {'kim':12000,'lee':11000,'han':3000,'hong':5000,'hwang':18000}
s

{'han': 3000, 'hong': 5000, 'hwang': 18000, 'kim': 12000, 'lee': 11000}

In [ ]:
s= {}
s['kim'] = 12000
s['lee'] = 11000
s['han'] = 3000
s['hong'] = 5000
s['hwang'] = 18000
for key,value in s.items():
    print(key, value)
s['han'] = 5000
print(s.items())
s['jang'] = 7000
print(s.items())
max(s.values())

kim 12000
lee 11000
han 3000
hong 5000
hwang 18000
dict_items([('kim', 12000), ('lee', 11000), ('han', 5000), ('hong', 5000), ('hwang', 18000)])
dict_items([('kim', 12000), ('lee', 11000), ('han', 5000), ('hong', 5000), ('hwang', 18000), ('jang', 7000)])

18000

{'han': 3000, 'hong': 5000, 'hwang': 18000, 'kim': 12000, 'lee': 11000}

In [ ]:
dic={}
while True:
    e = input('영어를 입력하시오:')
    if e =='':
        break
    k = input('뜻을 입력하시오:')
    dic[e] == k
dic

영어를 입력하시오:11
뜻을 입력하시오:한글

KeyError: ignored

In [ ]:
dv = {}
while True: #트루 값이면 계속 반복하라는 뜻. 
    e = input('eng:')  #키값
    if e =='': 
        break #빈칸이면 멈춤. 
    k = input('kor:') #value값 
    dv[e] = k
dv

eng:apple
kor:사과
eng:banana
kor:바나나
eng:

{'apple': '사과', 'banana': '바나나'}

In [ ]:
score = 0 #단어 테스트 
for e in dv.keys(): #key값을 가져오고 
    k = input(e+':') # input 받은 값을 가져옴 ':' 커서 깜박
    if k == dv[e] : #input 받은 값과 동일 한지 
        score+=1
print(f'맞은개수/전체단어수: {score}/{len(dv)}')

apple:사과
banana:바나나
맞은개수/전체단어수: 2/2

In [ ]:
x= {}
while True: 
    product = input('물건이름:')
    if product =='':
        break
    num = int(input('갯수:'))
    if product in x.keys():
        x[product] += num
    else:
        x[product] = num
print(x)
for key, value in sorted(x.items()):
    print(key, value, end = '')

물건이름:과자
갯수:10
물건이름:음료수
갯수:100
물건이름:사탕
갯수:500
물건이름:
{'과자': 10, '음료수': 100, '사탕': 500}
과자 10사탕 500음료수 100

In [ ]:
d = { 
    '홍길동':80, 
    '공유':90,
    '현빈':100}
s = sorted(d.items())
#정렬된 키 리스트 순서로 반복
for i in s:
    print(key, value)

음료수 100
음료수 100
음료수 100

##반복문
지정한 조건이 충족될 때까지 명령문이나 명령문 블록을 여러번 실행하는 구조
횟수 제어 for --> 반복이 시작되기 전에 반복횟수를 지정하여 무한 루프에 빠지지 않는다.

조건제어반복 while --> 반복횟수는 조건에 따라 달라진다. 무한루프에 빠질 수 있다. 

## 기본 형식 for i(제어변수) in 시퀀스:

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [ ]:
for i in range(1,6): # 5보다 하나 작은 항목 값
    print(i) #--> 1~5까지 범위의 요소를 반복하여 i에 넣어라!!!

1
2
3
4
5

In [ ]:
for i in range(1): # 5보다 하나 작은 항목 값 --> 1은 끝값임 시작값 0이 생략된 것.
    print(i) #--> 시퀀스(range 범위)에 있는 값들이 제어변수에 하나씩 할당되며 값이 할당될때마다 명령블록이 실행됨.

0

##range() 함수
일정한 범위의 정수들을 생성한다.
시작값 생략가능(기본값:0)
끝값은 생략불가
증가값 생략가능(기본값:1)

In [ ]:
for i in range(5):
    print(i) #--> 세로로 값들이 출력되지만 print(i, end = " ")를 지정해주면 줄이 바뀌지 않고 가로로 출력됨

0
1
2
3
4

In [ ]:
for i in range(5):
    print(i,end= " ")

0 1 2 3 4

In [ ]:
for i in range(0,100,10):
    print(i,end= '\t') # \t  --> 탭 end='\'은 출력될 값들이 tap한만큼 띄어지고 가로로 출력값들이 나열됨.

0	10	20	30	40	50	60	70	80	90

In [ ]:
#range함수-역순
for i in range(10,0,-1):
    print(i,end= " ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
#range함수-역순
for i in range(1,10,-1): # --> 역수로 표현하기 위해서는 시작값이 마지막 값보다 커야함.
    print(i,end= " ")

In [ ]:
for i in range(5):
    print('Hello World!!') #--> 문자열은 그대로 범위만큼 반복됨(범위가 -1이 아님)

Hello World!!
Hello World!!
Hello World!!
Hello World!!
Hello World!!

#조건 제어 반복: while 구조

조건식의 결과가 True인 동안 반복된다. 
조건식의 결과가 False가 되면 반복을 빠져나온다. 

# while 조건식 : 명령 블록

In [ ]:
i = 0# 전환되는 변수 i값을 줌, 루프의 조건식에 사용되는 변수는 루프에 들어가기 전에 초기화되어야 한다.
while i <= 5:
    #i가 5보다 같거나, 작을때 까지만 반복해줘
    i = i + 1
    print(i,end= ' ')
    # 출력하는데 1씩 더해            ##루프의 조건식에 사용되는 변수 값은 루프 내에서 변경되어야 한다.
#변수 i에 1이 할당된다.
#1>=5가 검사된다
#참이므로 1을 출력하고 i에 1을 더하여 i는 2가 된다. 
#이렇게 쭉 이어짐
#5 --> 1을 더하면 6이되서 false가 되기 때문에 while문에서 벗어나게 된다.

1 2 3 4 5 6

In [ ]:
i = 1 
while i <=5: # i는 1, 1은 영원히 5보다 작기 때문에 무한대로 11111111111이 출려됨
    print(i,end='')
print('end')

In [ ]:
#예제 q를 입력할때까지 반복하여 이름 입력 받기
#q를 입력할때까지 반복하여 이름을 입력받는 프로그햄을 작성하시오.
#조건반복으로만 할 수 있다.(q를 입력하지 않았으면 반복)

name = ''
while name != 'q':
    name = input('이름을 입력하세요:')
    print(name)

이름을 입력하세요:dd
dd
이름을 입력하세요:ss
ss
이름을 입력하세요:ss
ss
이름을 입력하세요:

이름을 입력하세요:q
q

In [ ]:
#5개의 정수를 입력받아(입력:5번 반복) 합계를 구하여(처리) 출력하는 프로그램을 작성하시오.
sum1 = 0
for i in range(5):
    sum1 += int(input('정수입력:'))
print('합계출력: ',sum1)

정수입력:5
정수입력:5
정수입력:5
정수입력:5
정수입력:5
합계출력:  25

In [ ]:
#n개의 정수를 입력받아 합계 구하기 
#사용자로부터 n값을 입력받고
#n개의 정수를 입력받아 합계를 구하여 출력하는 프로그램을 작성하시오.
n = int(input('몇개의 숫자를 더할까요? :'))
sum1 = 0
for i in range(n):
    num = int(input('정수를 입력하시오: '))
    sum1 += num
print('합계출력:', sum1)

몇개의 숫자를 더할까요? :3
정수를 입력하시오: 15
정수를 입력하시오: 99
정수를 입력하시오: 100
합계출력: 214

In [ ]:
n = int(input('몇개의 숫자를 더할까요? :'))
sum1 = 0
for i in range(n):
    sum1 += int(input('정수를 입력하시오: '))
    
print('합계출력:', sum1)

몇개의 숫자를 더할까요? :2
정수를 입력하시오: 999999
정수를 입력하시오: 1
합계출력: 1000000

In [ ]:
# n 개의 정수를 입력 받아 짝수의 합계를 구하여 출력하는 프로그램을 작성하시오
n = int(input('몇개의 숫자를 더할까요? :'))
sum1 = 0
for i in range(n):
    num = int(input('정수를 입력하시오: '))
    if num % 2 == 0:
        sum1 += num
    
print('합계출력:', sum1)

몇개의 숫자를 더할까요? :4
정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 4
합계출력: 6

In [ ]:
n = int(input('몇개의 숫자를 더할까요? :'))
sum1 = 0
for i in range(n):
    num = int(input('정수를 입력하시오: '))
    if num % 2 == 1:
        sum1 += num
    
print('합계출력:', sum1)

몇개의 숫자를 더할까요? :4
정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 4
합계출력: 4

In [ ]:
#0이 입력될때까지 숫자를 입력받아 합계 구하기
#0이 입력될때까지 사용가자 숫자를 입력하고, 입력이 끝나면 입력된 숫자들의 합이 출력되는 프로그램을 작성하시오
sum1 = 0
num = int(input('숫자입력:'))
while num != 0:
    sum1 +=num
    num = int(input('숫자입력: '))# --> 입력받은 값이 0이 아닐때 입력 받은 수를 더하고 다음 숫자를 입력하도록 하기 위해 
print('합계:', sum1)

숫자입력:3
숫자입력: 4
숫자입력: 5
숫자입력: 0
합계: 12

In [ ]:
#예제 1~n까지 더하는 프로그램을 작성하세요.
#숫자 n을 입력받아 1~n까지의 합을 구하여 출력하는 파이썬 프로그램을 작성하세요.
sum1=0 
n = int(input('1부터 몇까지 더할까요? :'))
for i in range(1,n+1):
    sum1 += i
    print(i)
print(f'1부터 {n}까지 더한 합계는: {sum1}')

1부터 몇까지 더할까요? :10
1
2
3
4
5
6
7
8
9
10
1부터 10까지 더한 합계는: 55

In [ ]:
#예제 n1~n2까지 더하는 프로그램을 작성하세요. 
#숫자 n1,n2를 입력받아 n1~n2까지의 합을 구하여 출력하는 파이썬 프로그램을 작성하세요.
sum1=0
n1 =int(input('몇부터 입력할까요? : '))
n2 = int(input('몇까지 더할까요? : '))
for i in range(n1,n2+1):
    sum1 += i 
    print(i)
print(f'{n1}부터 {n2}까지 더한 합계는 {sum1} 입니다.')

In [ ]:
#임의의 개수 숫자의 평균구하기
#사용자에게 n개의 숫자를 입력받아(몇개 숫자 입력할지, 숫자 입력 --> 2가지의 input값을 받아야함) 그 숫자들의 평균을 계산해서 출력하는 파이썬 프로그램을 작성하세요.
n = int(input('입력받을 정수의 개수 : '))
sum1 = 0
for i in range(n):
    num = int(input('정수를 입력하시오 : '))
    sum1 += num
if n == 0:
    print('0개의 정수를 입력하셨습니다.')
else:
    print('평균',sum1/n)

입력받을 정수의 개수 : 0
0개의 정수를 입력하셨습니다.

In [ ]:
#팩토리얼 계산하기 
#정수를 n을 입력받아 n!을 계산하는 프로그램을 작성하세요.
n = int(input('몇 팩토리얼? :'))
f = 1
for i in range(n,0,-1):
    f *= i
    print(i,f)
print(f'{n}! = {f}')

몇 팩토리얼? :5
5 5
4 20
3 60
2 120
1 120
5! = 120

In [ ]:
#예제 구구단 
#정수 n을 받아 구구단을 계산하는 프로그램을 작성하세요.
n = int(input('구구단 몇단을 출력할까요? :'))
for i in range(1,10):
    print(f'{n} * {i} = {n*i}')

구구단 몇단을 출력할까요? :10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

In [ ]:
#중첩반복구조 
for i in range (3): # i, j : 내부 루프와 외부루프는 동일한 제어변수를 사용해서는 안됨
    for j in range(5): ## 내부 for문을 외부 for문의 시퀀스 만큼 반복한다. 
        print(i,j)        # j는  하나 i의 범위 만큼 반복함 e.g. 0~4까지 범위에서 3번 반복
                         #i는 외부 시퀀스 만큼 반복 e.g. 0~2까지 범위에서 5번 반복

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4

In [ ]:
for i in range (1,3): # i, j : 내부 루프와 외부루프는 동일한 제어변수를 사용해서는 안됨
    for j in range(1,5): ## 내부 for문을 외부 for문의 시퀀스 만큼 반복한다. 
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4

In [ ]:
#전체 구구단 출력하기(가로)
for i in range(2,10):
    for j in range(1,10):
        print(f' {i} * {j} = {i*j}', end='\t')
    print()

 2 * 1 = 2	 2 * 2 = 4	 2 * 3 = 6	 2 * 4 = 8	 2 * 5 = 10	 2 * 6 = 12	 2 * 7 = 14	 2 * 8 = 16	 2 * 9 = 18
 3 * 1 = 3	 3 * 2 = 6	 3 * 3 = 9	 3 * 4 = 12	 3 * 5 = 15	 3 * 6 = 18	 3 * 7 = 21	 3 * 8 = 24	 3 * 9 = 27
 4 * 1 = 4	 4 * 2 = 8	 4 * 3 = 12	 4 * 4 = 16	 4 * 5 = 20	 4 * 6 = 24	 4 * 7 = 28	 4 * 8 = 32	 4 * 9 = 36
 5 * 1 = 5	 5 * 2 = 10	 5 * 3 = 15	 5 * 4 = 20	 5 * 5 = 25	 5 * 6 = 30	 5 * 7 = 35	 5 * 8 = 40	 5 * 9 = 45
 6 * 1 = 6	 6 * 2 = 12	 6 * 3 = 18	 6 * 4 = 24	 6 * 5 = 30	 6 * 6 = 36	 6 * 7 = 42	 6 * 8 = 48	 6 * 9 = 54
 7 * 1 = 7	 7 * 2 = 14	 7 * 3 = 21	 7 * 4 = 28	 7 * 5 = 35	 7 * 6 = 42	 7 * 7 = 49	 7 * 8 = 56	 7 * 9 = 63
 8 * 1 = 8	 8 * 2 = 16	 8 * 3 = 24	 8 * 4 = 32	 8 * 5 = 40	 8 * 6 = 48	 8 * 7 = 56	 8 * 8 = 64	 8 * 9 = 72
 9 * 1 = 9	 9 * 2 = 18	 9 * 3 = 27	 9 * 4 = 36	 9 * 5 = 45	 9 * 6 = 54	 9 * 7 = 63	 9 * 8 = 72	 9 * 9 = 81

In [ ]:
for i in range(2,10):
    for j in range(1,10):
        print(f' {j} * {i} = {i*j}', end='\t')
    print()

 1 * 2 = 2	 2 * 2 = 4	 3 * 2 = 6	 4 * 2 = 8	 5 * 2 = 10	 6 * 2 = 12	 7 * 2 = 14	 8 * 2 = 16	 9 * 2 = 18
 1 * 3 = 3	 2 * 3 = 6	 3 * 3 = 9	 4 * 3 = 12	 5 * 3 = 15	 6 * 3 = 18	 7 * 3 = 21	 8 * 3 = 24	 9 * 3 = 27
 1 * 4 = 4	 2 * 4 = 8	 3 * 4 = 12	 4 * 4 = 16	 5 * 4 = 20	 6 * 4 = 24	 7 * 4 = 28	 8 * 4 = 32	 9 * 4 = 36
 1 * 5 = 5	 2 * 5 = 10	 3 * 5 = 15	 4 * 5 = 20	 5 * 5 = 25	 6 * 5 = 30	 7 * 5 = 35	 8 * 5 = 40	 9 * 5 = 45
 1 * 6 = 6	 2 * 6 = 12	 3 * 6 = 18	 4 * 6 = 24	 5 * 6 = 30	 6 * 6 = 36	 7 * 6 = 42	 8 * 6 = 48	 9 * 6 = 54
 1 * 7 = 7	 2 * 7 = 14	 3 * 7 = 21	 4 * 7 = 28	 5 * 7 = 35	 6 * 7 = 42	 7 * 7 = 49	 8 * 7 = 56	 9 * 7 = 63
 1 * 8 = 8	 2 * 8 = 16	 3 * 8 = 24	 4 * 8 = 32	 5 * 8 = 40	 6 * 8 = 48	 7 * 8 = 56	 8 * 8 = 64	 9 * 8 = 72
 1 * 9 = 9	 2 * 9 = 18	 3 * 9 = 27	 4 * 9 = 36	 5 * 9 = 45	 6 * 9 = 54	 7 * 9 = 63	 8 * 9 = 72	 9 * 9 = 81

In [ ]:
#문장에서 헤당 문자를 찾으면 반복을 종료 한다
t = 'I have a dream'
letter =input('찾을 문자:')
for i in t:
    print(i,end=" ")
    if i == letter:  #다시듣기 
        break ## d를 입력하면 d까지 찾고 출력멈춤.

찾을 문자:
I   h a v e   a   d r e a m

In [ ]:
##up & down 게임 
# 1~ 100사이의 정답 숫자를 랜덤으로 하나 정하고 정답숫자를 맞출때까지 숫자를 입력하는 게임이다.
# 내가 입력한 숫자가 정답보다 작으면 'down',정답보다 크면 'up'을 출력하고 숫자를 다시입력받는다.
#정답을 맞추면 '정답!'이라고 출력하고 게임을 끝낸다. 
import random
r = random.randint(1,100)
p = int(input('예상숫자를 입력하시오:'))
while r != p:
    if r > p:
        print('up')
        p = int(input('예상숫자를 입력하시오:'))
    else:
        print('down')
        p = int(input('예상숫자를 입력하시오:'))
print(f'정답!')

예상숫자를 입력하시오:500
down
예상숫자를 입력하시오:100
down
예상숫자를 입력하시오:90
up
예상숫자를 입력하시오:95
down
예상숫자를 입력하시오:94
down
예상숫자를 입력하시오:93
 정답!

In [ ]:
import random
r = random.randint(1,100)
a = int(input('숫자 입력: '))
    while r != a: 
        if r > a:
            print("DOWN")
            a = int(input('숫자 입력: '))
        else:
            print("UP")
            a = int(input('숫자 입력: '))     
            
    print(a, "정답!")

IndentationError: ignored

In [ ]:
import calendar
print(calendar.month(1992,12))

   December 1992
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [ ]:
from calendar import month
print(calendar.month(2021,6))

     June 2021
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [ ]:
#외장함수 > random 모듈

import random
a = random.random() # Random float x, 0.0 <= x < 1.0

#2개의 숫자 사이의 랜덤 실수를 리턴합니다.
b = random.uniform(1, 10) # Random float x, 1.0 <= x < 10.0


#2개의 숫자 사이의 랜덤 정수를 리턴합니다. (2번째 인자로 넘어온 정수도 범위에 포함시킴)
c =random.randint(1, 10) # Integer from 1 to 10, endpoints included


#range(start, stop, step) 함수로 만들어지는 정수 중에 하나를 랜덤하게 리턴합니다.
d=random.randrange(0, 101, 2)  # Even integer from 0 to 100

#choice() 함수 랜덤하게 하나의 원소를 선택합니다.
e = random.choice('abcdefghij') # Choose a random element 
f = random.choice(['가위','바위','보'])

m = ['가위','바위','보']
random.shuffle(m) #셔플은 무작위로 뽑는게 아니라 흔들어서 섞는다(안에서 섞어준다. 뽑는게 아님). 
print(m)
print(a, b, c, d, e, f)

['보', '가위', '바위']
0.48381171135651635 9.928691420685515 6 94 i 보

In [ ]:

def say_hello():  #함수 정의
    print('안녕하세요!!')
    print('파이썬의 세계에 오신 것을 환영합니다.')
    print('즐거운 시간 되세요!!')
say_hello()## 함수호출

안녕하세요!!
파이썬의 세계에 오신 것을 환영합니다.
즐거운 시간 되세요!!

In [ ]:
def say_hello(name):
    print(f'안녕하세요, {name}!!')
    print('파이썬의 세계에 오신 것을 환영합니다.')
    print('즐거운 시간 되세요!!')
say_hello('김선민')

안녕하세요, 김선민!!
파이썬의 세계에 오신 것을 환영합니다.
즐거운 시간 되세요!!

In [ ]:
def say_hello(name1, name2):
    print(f'안녕하세요, {name1},{name2}!!')
    print('파이썬의 세계에 오신 것을 환영합니다.')
    print('즐거운 시간 되세요!!')
say_hello('홍길동')

TypeError: ignored

In [ ]:
#예제 1 원의 넓이를 구하는 함수 만들기
#원의 반지를을 보내면 원의 넓이를 계산하여 반환하는 함수를 작성하시오.
def c(r):
    area= 3.14 * r**2
    return area
print(c(5))

78.5

In [ ]:
#예제 2 두수를 더하여 결과를 반환하는 함수 만들기
# 두수를 매개변수로 받아 더한값을 반환하는 함수를 만드시오
def m(n1,n2):
    r = n1+n2
    return r
print('두 수의 합은',m(1,2)) #함수호출

두 수의 합은 3

In [ ]:
def get_plus_minus_d(num1,num2):
    
    plus = num1 + num2
    minus = num1 - num2
    if num2 != 0:
        d = num1/num2
    else:
        print('0은 나눌 수 없습니다')
get_plus_minus_d(2,1)

In [ ]:
#지역변수
# 함수내 변수를 밖에서 사용 못함
def get_plus_minus(num1,num2):
   ## 초기 세팅값을 주면서 global을 붇이면 지역변수를 전역변수로 변경 가능
    plus = num1 + num2
    minus = num1 - num2  
    return plus,minus
get_plus_minus(1,2)    #plus, minus는 사용자 지정함수 내에서 만든 지역변수 
print(plus,minus)  # 함수 내에서 만든 변수를 함수 밖에서 사용할 수 없다!!!!함수 내에서만 사용가능

NameError: ignored

In [ ]:
# 전역변수 - 함수밖에서 생성
def circle_area():
    area = 3.14 * radius ** 2
    return area           
radius = float(input('반지름:')) ### 함수 밖에서 만든 변수는 함수 내에서 사용할 수
circle_area()

반지름:5

78.5

In [ ]:
def circle_area():
    global area
    area = 3.14 * radius ** 2
    return area
area = 0 # 따로 밖에서 선언 
radius = float(input('반지름:'))
print('원의 넓이:',circle_area())
print(area) #변경안됨 0이 나옴 
#함수에서 area 계산되었지만, 전역변수 값은 변경되지 않음.
#함수에서 전역변수를 직접 사용한 것이 아니라, 
#동일한 이름과 값을 가진 지역변수를 새롭게 만들어 사용하기 때문임

반지름:5
원의 넓이: 78.5
78.5

In [ ]:
#지역변수
# 함수내 변수를 밖에서 사용 못함
def get_plus_minus(num1,num2):
   ## 초기 세팅값을 주면서 global을 붇이면 지역변수를 전역변수로 변경 가능
    global plus
    global minus
    
    plus = num1 + num2
    minus = num1 - num2  
    return plus,minus
get_plus_minus(1,2)    #plus, minus는 사용자 지정함수 내에서 만든 지역변수 
print(plus,minus)  # 함수 내에서 만든 변수를 함수 밖에서 사용할 수 없다!!!!함수 내에서만 사용가능

3 -1

In [ ]:
def greet(name,msg):
    print(f'안녕 {name},{msg}')
greet('철수','좋은 아침이야')

안녕 철수,좋은 아침이야

In [ ]:
def greet(name='친구',msg='잘지내니?'):
    print(f'안녕 {name},{msg}')
greet('지금뭐해? 자니?')

안녕 지금뭐해? 자니?,잘지내니?

In [ ]:
def calc(x,y,z):
    result = x + y - z
    return result
calc(x=1,5,3) ## x 는 고정, 나머지는 매칭이 되어서 할당 # 위치 인수를 먼저 사용

SyntaxError: ignored

In [ ]:
def average(*args): #args는 튜플 데이터형
    print(args)
    avrg1 = sum(args) /len(args)
    return avrg1
print(average(1,8)) #인수3개
print(average(1,2,3,4,5)) # 인수5개

(1, 8)
4.5
(1, 2, 3, 4, 5)
3.0

In [ ]:
#예제 소수 여부 판단하기
#소수는 1과 자기 자신만으로 나누어 떨어지는 1보다 큰 양의 정수를 의미한다.
#키보드로 입력된 수가 소수인지 아닌지 판별하는 함수를 작성하시오.

def s(number): 
    if number < 2:
        return False
    for i in range(2,number):

SyntaxError: ignored

In [ ]:
def today_menu(*menu):
    for i in menu:
        print(i)
print("== 오늘의 메뉴 ==")
today_menu('김밥', '떡볶이', '오뎅')

== 오늘의 메뉴 ==
김밥
떡볶이
오뎅

In [ ]:
def get_plus_minus(num1,num2):
    plus = num1 + num2
    return plus
print(get_plus_minus(10,20))

30

In [ ]:
plus = lambda num1,num2: num1+num2 #:이후가 실행부 앞의 num1,num2는 매개변수
print(plus(10,20))

30

In [6]:
##문자열 나누기
#문자열.split() 함수는 문자열을 일정한 규칙으로 잘라서 리스트로 만들어 주는 함수
text = '문자열나누기'
li = text.split(sep='열')
li

['문자', '나누기']