<a href="https://colab.research.google.com/github/seonmk12/seonmins_colab/blob/master/_notbooks/20210601_4%ED%8C%80_%EA%B9%80%EC%84%A0%EB%AF%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

반복구조
지정한 조건이 충족될 때까지 명령문이나 명령문 블록을 여러번 실행하는 구조
## 횟수제어(for)
반복이 시작되기 전에 반복횟수를 지정 무한 루프에 빠지지 않는다.

##조건제어반복(while)
반복횟수는 조건에 따라 달라진다. 무한루프에 빠질 수 있다.

##횟수제어 반보기for구조
주어진 자료를 순회할때 주로 사용되는 반복구조이다.
반복의 번위가 미리 정해진다.
#for 제어변수 in 시퀀스:

제어변수 관용적으로 i,j가 사용됨
for i in :

In [ ]:
for i in [1,2,3,4,5]:
    print(i) #--> 리스트 한 항목씩 받아서 나옴

1
2
3
4
5

In [ ]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [ ]:
for i in range(1,6): # 5보다 하나 작은 항목 값
    print(i)

1
2
3
4
5

In [ ]:
for i in range(5): # 5보다 하나 작은 항목 값
    print(i) #--> 시퀀스(range 범위)에 있는 값들이 제어변수에 하나씩 할당되며 값이 할당될때마다 명령블록이 실행됨.

0
1
2
3
4

##range() 함수
일정한 범위의 정수들을 생성한다. 
시작값 생량가능(기본값:0)
끝값은 생략 불가
증가값 생략가능(기본값:1)
##사용법
range(끝값): 0~(끝값 -1), range(5) # 0,1,2,3,4

In [ ]:
#range함수
for i in range(5):
    print(i,end= " ,") # 프린트 함수에 end=""를 지정하면 줄이 바뀌지 않고 출력된다.

0 ,1 ,2 ,3 ,4 ,

In [ ]:
#range함수
for i in range(1,6):
    print(i,end= " ")

1 2 3 4 5

In [ ]:
#range함수
for i in range(10,100,80):
    print(i,end= '\t') # \t  --> 탭

10	90

In [ ]:
#range함수-역순 : 오류
for i in range(10,0,-1):
    print(i,end= " ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
#range함수-역순 : 오류 시작값은 끝값보다 앞에 위치하여야 한다
for i in range(1,10,-1):
    print(i,end= " ")##--> 큰것 부터 작은 순으로(범위 밖이라서)

In [ ]:
for i in range(100):
    print('Hello World!!')

##조건 제어 반복: while구조
조건식의 결과가 True인 동안 반복된다.
조건식의 결과가 FALSE가 되면 반복을 빠져나온다.

While 조건식:
       명령블록

In [ ]:
i = 1# 전환되는 변수 i값을 줌, 루프의 조건식에 사용되는 변수는 루프에 들어가기 전에 초기화되어야 한다.
while i <= 5:#i가 5보다 작을때 까지만 반복해줘
    print(i,end= ' ')
    i = i + 1 # 출력하는데 1씩 더해            ##루프의 조건식에 사용되는 변수 값은 루프 내에서 변경되어야 한다.
#변수 i에 1이 할당된다.
#1>=5가 검사된다
#참이므로 1을 출력하고 i에 1을 더하여 i는 2가 된다. 
#이렇게 쭉 이어짐
#5 --> 1을 더하면 6이되서 false가 되기 때문에 while문에서 벗어나게 된다.

1 2 3 4 5

In [ ]:
for i in range(1,6):
    print(i,end=' ')

1 2 3 4 5

In [ ]:
i = 1
while i <= 5:
    i = i + 1 #--> 이러면 6이 됨 이러면 i값을 0을 주면 됨
    print(i,end= ' ')

2 3 4 5 6

In [ ]:
i = 0
while i <= 5:
    
    i = i + 1
    print(i,end= ' ')

1 2 3 4 5 6

##while 옆에는 참거짓이 들어가야 하기 때문에 바로 list가 올수 없고 in을 포함하고 쓰면 list사용 가능.

In [ ]:
#무한루프
i = 1 
while i <= 5: # i값이 계속 1이므로 무한루프
    print(i)
print('end') # --> false값 
#변수 i를 증가시키는 것을 까먹어서 무한루프에 빠졌다
#(변수i는 영원히 1이다.)
#실행중단 ctrl + m+i

In [ ]:
#예제 q를 입력할때까지 반복하여 이름 입력 받기
#q를 입력할때까지 반복하여 이름을 입력받는 프로그햄을 작성하시오.
#조건반복으로만 할 수 있다.(q를 입력하지 않았으면 반복)
name = ' '
while name != 'q':
    name = input('이름을 입력하세요:')
    print(name)

이름을 입력하세요:ㄴㄴ
ㄴㄴ
이름을 입력하세요:q
q

In [ ]:
name = ' '
while name != '':
    name = input('이름을 입력하시오 :')
    print(name)

이름을 입력하시오 :

In [ ]:
num1 = 0
sum1 = 0
while num1 != 99:
    num1 = int(input('숫자를 입력하시오 :'))
    sum1 += num1
    print(num1)

숫자를 입력하시오 :11
11
숫자를 입력하시오 :22
22
숫자를 입력하시오 :33
33
숫자를 입력하시오 :12
12
숫자를 입력하시오 :99
99

In [ ]:
# q를 입력할 때까지 반복입력
name = ' '
while name != 'q':
    name = input('이름을 입력하세요:')
    if name != 'q':
        print(name)

이름을 입력하세요:11
11
이름을 입력하세요:12
12
이름을 입력하세요:

이름을 입력하세요:q

#5개의 정수를 입력받아 합계 구하기
5개의 정수를 입력받아(입력:5번 반복) 합계를 구하여(처리) 출력하는 프로그램을 작성하시오.

In [ ]:
sum1 = 0
for i in range(5):
    sum1 += int(input('정수입력:'))
    
print('합계출력:', sum1)

정수입력:11
정수입력:22
정수입력:33
정수입력:44
정수입력:55
합계출력: 220

In [ ]:
sum1 = 0
for i in range(5):
    sum1+= int(input('정수입력:'))
    
print('합계출력:', sum1)

정수입력:1
정수입력:2
정수입력:3
정수입력:4
정수입력:5
합계출력: 115

In [ ]:
sum1 = 0
for i in range(5):
    num = int(input('정수입력:'))
    sum1 += num
print('합계출력:',sum1)

In [ ]:
sum1 = 0 
while i != ' ':
    sum1 += int(input('정수입력'))
    print(sum1)

정수입력1
1
정수입력2
3
정수입력3
6
정수입력4
10
정수입력5
15
정수입력

ValueError: ignored

In [ ]:
#n개의 정수를 입력받아 합계 구하기 
#사용자로부터 n값을 입력받고
#n개의 정수를 입력받아 합계를 구하여 출력하는 프로그램을 작성하시오.
n= int(input('몇개의 숫자를 더할까요?:'))
sum1 = 0
for i in range(n):
    sum += int(input('정수입력'))
    
    
print('합계출력:', sum)

몇개의 숫자를 더할까요?:1
정수입력10
합계출력: 4251746461

In [ ]:
# n개의 정수를 입력 받아 n개의 정수를 입력 받아 합계 출력
sum1 = 0
n = int(input('몇개의 숫자를 더할까요? :'))
for i in range(n):
    sum1 += int(input('정수입력:'))
print('합계출력:',sum1)

몇개의 숫자를 더할까요? :2
정수입력:10
정수입력:20
합계출력: 30

In [ ]:
sum1 = 0
n = int(input('몇개의 숫자를 더할까요? :'))
for i in range(n):
    num = int(input('정수입력:'))
    sum1 += num
print('합계출력:',sum1)

몇개의 숫자를 더할까요? :5
정수입력:1
정수입력:2
정수입력:3
정수입력:4
정수입력:5
합계출력: 15

In [ ]:
# n 개의 정수를 입력 받아 짝수의 합계를 구하여 출력하는 프로그램을 작성하시오
sum1= 0
n = int(input('몇개의 숫자를 더할까요? :'))
for i in range(n):
    num = int(input('정수입력:'))
    if num % 2 == 0:
        sum1 += num
print('합계출력:',sum1)

몇개의 숫자를 더할까요? :2
정수입력:4
정수입력:6
합계출력: 10

In [ ]:
#홀수만 더하기
sum1= 0
n = int(input('몇개의 숫자를 더할까요? :'))
for i in range(n):
    num = int(input('정수입력:'))
    if num % 2 == 1:
        sum1 += num
print('합계출력:',sum1)

몇개의 숫자를 더할까요? :3
정수입력:2
정수입력:3
정수입력:5
합계출력: 8

In [ ]:
#홀수만 더하기
sum1= 0
n = int(input('몇개의 숫자를 더할까요? :'))
for i in range(n):
    num = int(input('정수입력:'))
    if num % 3 == 1:
        sum1 += num
print('합계출력:',sum1)

몇개의 숫자를 더할까요? :3
정수입력:1
정수입력:3
정수입력:4
합계출력: 5

In [ ]:
#0이 입력될때까지 숫자를 입력받아 합계 구하기
#0이 입력될때까지 사용가자 숫자를 입력하고, 입력이 끝나면 입력된 숫자들의 합이 출력되는 프로그램을 작성하시오
sum1 = 1 
num = int(input('숫자: '))
while num != 0: 
    sum1 += num
    num = int(input('숫자:'))
print('합계:', sum1)

숫자 입력: 1
숫자:2
숫자:3
숫자:4
숫자:0
합계: 11

In [ ]:
sum1 = 0 # 초기값을 줘야 다른 것이 들어가는 것을 막을 수 있음.
num = '숫자: '
while num != 0: 
   
    num = int(input('숫자:'))
    sum1 += num
print('합계:', sum1)

숫자:10
숫자:20
숫자:0
합계: 30

In [ ]:
sum1 = 0
chk = 1
num = int(input("숫자: "))
while num!=0 or chk == 1:
    sum1+=num
    num = int(input("숫자: "))
    chk = 1 + chk
print('합계:', sum1)

숫자: 10
숫자: 20
숫자: 0
합계: 30

In [ ]:
sum1 = 0
chk = 1

while num!=0 or chk == 1:
        num = int(input("숫자: "))
        sum1 += num
        if chk == 1:
            chk = 1 +chk
    
print('합계:', sum1)

숫자: 10
숫자: 20
숫자: 0
합계: 30

In [ ]:
#예제 1~n까지 더하는 프로그램을 작성하세요.
#숫자 n을 입력받아 1~n까지의 합을 구하여 출력하는 파이썬 프로그램을 작성하세요.
sum1=0
n = int(input('1부터 몇까지 더할까요?:'))
for i in range(1,n+1):
    sum1 += i
print(f' 1부터 {n}까지 더한 합계는 : {sum1}')

1부터 몇까지 더할까요?:10
 1부터 10까지 더한 합계는 : 55

In [ ]:
sum1=0
n = int(input('1부터 몇까지 더할까요? : '))
for i in range(1,n+1):
    sum1 += i
print(f'1부터 {n}까지 더한 합계는 : {sum1}')

1부터 몇까지 더할까요? : 10
1부터 10까지 더한 합계는 : sum1

In [ ]:
sum1=0
n = int(input('1부터 몇까지 더할까요? : '))
for i in range(1,n+1):
    sum1 += i
    print(i) # i값이 변화되는 값을 보여줌.
print(f'1부터 {n}까지 더한 합계는 : {sum1}')

1부터 몇까지 더할까요? : 10
1
2
3
4
5
6
7
8
9
10
1부터 10까지 더한 합계는 : 55

In [ ]:
sum1=0
n = int(input('1부터 몇까지 더할까요? : '))
i = 1
while i <= n:
    sum1 += i
    i +=1
    print(i)
print(f'1부터 {n}까지 더한 합계는 : {sum1}')

1부터 몇까지 더할까요? : 10
2
3
4
5
6
7
8
9
10
11
1부터 10까지 더한 합계는 : 55

In [ ]:
#예제 n1~n2까지 더하는 프로그램을 작성하세요. 
#숫자 n1,n2를 입력받아 n1~n2까지의 합을 구하여 출력하는 파이썬 프로그램을 작성하세요.
sum1 = 0
n1 = int(input('몇부터 더 할까요?:'))
n2 = int(input('몇까지 더할까요?:'))
for i in range(n1,n2+1): # 끝범위 +1을 해줘야 함. 윗 예제와 이 부분이 다름. 
    sum1 += i
    print(i)
print(f'{n1}부터 {n2}까지 더한 합계는 : {sum1}')

몇부터 더 할까요?:2
몇까지 더할까요?:10
2
3
4
5
6
7
8
9
10
2부터 10까지 더한 합계는 : 54

In [ ]:
#임의의 개수 숫자의 평균구하기
#사용자에게 n개의 숫자를 입력받아(몇개 숫자 입력할지, 숫자 입력 --> 2가지의 input값을 받아야함) 그 숫자들의 평균을 계산해서 출력하는 파이썬 프로그램을 작성하세요.
n = int(input('입력받을 정수의 개수: '))
sum1= 0
for i in range(n):
    num = int(input('정수:'))
    sum1 += num
    
if n == 0:
    print('0개의 정수를 입력하셨습니다.')
else:
    print('평균:' , sum1/n)

입력받을 정수의 개수: 3
정수:90
90
정수:1
1
정수:50
50
평균: 47.0

In [ ]:
#팩토리얼 계산하기 
#정수를 n을 입력받아 n!을 계산하는 프로그램을 작성하세요.
n = int(input('몇 팩토리얼? : '))
f = 1#곱하기니까 0을 주면 안됨

for i in range(n,0,-1):
    f *= i
    print(i,f) #ctrl + / 주석처리
    

print(f'{n}! = {f}')

몇 팩토리얼? : 10
10 10
9 90
8 720
7 5040
6 30240
5 151200
4 604800
3 1814400
2 3628800
1 3628800
10! = 3628800

In [ ]:
#예제 구구단 
#정수 n을 받아 구구단을 계산하는 프로그램을 작성하세요.
n = int(input('구구단 몇단을 출력할까요? :'))
for i in range(1,10):#시작값은 1 끝값을 9로 하고 싶기 떄문에 +1 을 한 10
    print(f'{n} * {i} = {n*i}')

구구단 몇단을 출력할까요? :1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

In [ ]:
#중첩반복구조 
for i in range (3): # i, j : 내부 루프와 외부루프는 동일한 제어변수를 사용해서는 안됨
    for j in range(5): ## 내부 for문을 외부 for문의 시퀀스 만큼 반복한다. 
        print(i,j)        # j는  하나 i의 범위 만큼 반복함 e.g. 0~4까지 범위에서 3번 반복
                         #i는 외부 시퀀스 만큼 반복 e.g. 0~2까지 범위에서 5번 반복

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4

In [ ]:
for i in range (1,3): # i, j : 내부 루프와 외부루프는 동일한 제어변수를 사용해서는 안됨
    for j in range(1,5): ## 내부 for문을 외부 for문의 시퀀스 만큼 반복한다. 
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4

In [ ]:
for i in range (1,7,2): # i, j : 내부 루프와 외부루프는 동일한 제어변수를 사용해서는 안됨
    for j in range(1,5,2): ## 내부 for문을 외부 for문의 시퀀스 만큼 반복한다. 
        print(i,j,i*j)

1 1 1
1 3 3
3 1 3
3 3 9
5 1 5
5 3 15

In [ ]:
#전체 구구단 출력하기(가로)
for i in range(2,10):
    for j in range(1,10):
        print(f' {i} * {j} = {i*j}', end='\t')
    print() #-->한줄 건너뛰기

 2 * 1 = 2	 2 * 2 = 4	 2 * 3 = 6	 2 * 4 = 8	 2 * 5 = 10	 2 * 6 = 12	 2 * 7 = 14	 2 * 8 = 16	 2 * 9 = 18
 3 * 1 = 3	 3 * 2 = 6	 3 * 3 = 9	 3 * 4 = 12	 3 * 5 = 15	 3 * 6 = 18	 3 * 7 = 21	 3 * 8 = 24	 3 * 9 = 27
 4 * 1 = 4	 4 * 2 = 8	 4 * 3 = 12	 4 * 4 = 16	 4 * 5 = 20	 4 * 6 = 24	 4 * 7 = 28	 4 * 8 = 32	 4 * 9 = 36
 5 * 1 = 5	 5 * 2 = 10	 5 * 3 = 15	 5 * 4 = 20	 5 * 5 = 25	 5 * 6 = 30	 5 * 7 = 35	 5 * 8 = 40	 5 * 9 = 45
 6 * 1 = 6	 6 * 2 = 12	 6 * 3 = 18	 6 * 4 = 24	 6 * 5 = 30	 6 * 6 = 36	 6 * 7 = 42	 6 * 8 = 48	 6 * 9 = 54
 7 * 1 = 7	 7 * 2 = 14	 7 * 3 = 21	 7 * 4 = 28	 7 * 5 = 35	 7 * 6 = 42	 7 * 7 = 49	 7 * 8 = 56	 7 * 9 = 63
 8 * 1 = 8	 8 * 2 = 16	 8 * 3 = 24	 8 * 4 = 32	 8 * 5 = 40	 8 * 6 = 48	 8 * 7 = 56	 8 * 8 = 64	 8 * 9 = 72
 9 * 1 = 9	 9 * 2 = 18	 9 * 3 = 27	 9 * 4 = 36	 9 * 5 = 45	 9 * 6 = 54	 9 * 7 = 63	 9 * 8 = 72	 9 * 9 = 81

In [ ]:
#전체 구구단 출력하기(세로)
for i in range(2,10):
    for j in range(1,10):
        print(f' {j} * {i} = {i*j}', end='\t')
    print() #-->한줄 건너뛰기

 1 * 2 = 2	 2 * 2 = 4	 3 * 2 = 6	 4 * 2 = 8	 5 * 2 = 10	 6 * 2 = 12	 7 * 2 = 14	 8 * 2 = 16	 9 * 2 = 18
 1 * 3 = 3	 2 * 3 = 6	 3 * 3 = 9	 4 * 3 = 12	 5 * 3 = 15	 6 * 3 = 18	 7 * 3 = 21	 8 * 3 = 24	 9 * 3 = 27
 1 * 4 = 4	 2 * 4 = 8	 3 * 4 = 12	 4 * 4 = 16	 5 * 4 = 20	 6 * 4 = 24	 7 * 4 = 28	 8 * 4 = 32	 9 * 4 = 36
 1 * 5 = 5	 2 * 5 = 10	 3 * 5 = 15	 4 * 5 = 20	 5 * 5 = 25	 6 * 5 = 30	 7 * 5 = 35	 8 * 5 = 40	 9 * 5 = 45
 1 * 6 = 6	 2 * 6 = 12	 3 * 6 = 18	 4 * 6 = 24	 5 * 6 = 30	 6 * 6 = 36	 7 * 6 = 42	 8 * 6 = 48	 9 * 6 = 54
 1 * 7 = 7	 2 * 7 = 14	 3 * 7 = 21	 4 * 7 = 28	 5 * 7 = 35	 6 * 7 = 42	 7 * 7 = 49	 8 * 7 = 56	 9 * 7 = 63
 1 * 8 = 8	 2 * 8 = 16	 3 * 8 = 24	 4 * 8 = 32	 5 * 8 = 40	 6 * 8 = 48	 7 * 8 = 56	 8 * 8 = 64	 9 * 8 = 72
 1 * 9 = 9	 2 * 9 = 18	 3 * 9 = 27	 4 * 9 = 36	 5 * 9 = 45	 6 * 9 = 54	 7 * 9 = 63	 8 * 9 = 72	 9 * 9 = 81

##break 
반복에서 벗어나기

문장 ' i have a dream'에서 찾을 문자를 입력받고, 해당 문자를 찾으면 반복을 종료한다.

In [ ]:
#문장에서 헤당 문자를 찾으면 반복을 종료 한다
t = 'I have a dream'
letter =input('찾을 문자:')
for i in t:
    print(i,end=" ")
    if i == letter:  #다시듣기 
        break ## d를 입력하면 d까지 찾고 출력멈춤.

찾을 문자:c
I   h a v e   a   d r e a m

In [ ]:
#문장에서 헤당 문자를 찾으면 반복을 종료 한다
t = 'I have a dream'
letter =input('찾을 문자:')
for i in t:
    print(i,end=" ")
    if i == letter and cnt = 0 :
        cnt =1
    else:
        break ## d를 입력하면 d까지 찾고 출력멈춤.

SyntaxError: ignored

In [ ]:
##up & down 게임 
# 1~ 100사이의 정답 숫자를 랜덤으로 하나 정하고 정답숫자를 맞출때까지 숫자를 입력하는 게임이다.
# 내가 입력한 숫자가 정답보다 작으면 'down',정답보다 크면 'up'을 출력하고 숫자를 다시입력받는다.
#정답을 맞추면 '정답!'이라고 출력하고 게임을 끝낸다. 

import random
r= random.randint(1,100)
p = int(input('예상숫자:'))
while r != p:
    if r > p:
        print('UP')
        p = int(input('예상숫자:'))
    elif r < p:
        print('DOWN')
        p = int(input('예상숫자:'))
    
print(f'정답은 {r}이 었습니다.')

예상숫자:100
DOWN
예상숫자:90
DOWN
예상숫자:80
DOWN
예상숫자:50
UP
예상숫자:60
DOWN
예상숫자:55
UP
예상숫자:56
정답은 56이 었습니다.

In [ ]:
import random
n = random.randint(1,100)
answer = int(input('예상 숫자:'))
while n != answer:
    if answer > n:
        print('DOWN')
        answer = int(input('예상 숫자:'))
    elif answer < n:
        print('UP')
        answer = int(input('예상 숫자:'))

print(f' 정답은 {n} 이었습니다.')

예상 숫자:100
DOWN
예상 숫자:50
DOWN
예상 숫자:4
DOWN
예상 숫자:2
DOWN
예상 숫자:1
 정답은 1 이었습니다.

In [ ]:
import random
n_answer = random.randint(1,100)
n_inserted = int(input('숫자 입력: '))

while n_inserted != n_answer: 
    if n_inserted < n_answer:
        print("DOWN")
        n_inserted = int(input('숫자 입력: '))
    else:
        print("UP")
        n_inserted = int(input('숫자 입력: '))
    
        
print(n_answer, "정답!")